
.widget {
    /*-fx-background-color: rgba(220, 166, 27, 0.06);*/ /* 50% läpinäkyvä tausta */
    -fx-background-radius: 10px;
    /*-fx-background-color: rgba(0, 0, 0, 0.04)*/
    -fx-background-color: rgb(39, 41, 44);



}
.bigtext {
    -fx-text-fill: #a4a4a4;
    -fx-font-family: "Madimi One";
    -fx-font-size: 30px;
    -fx-font-weight: bold;

}

.normaltext {
    -fx-text-fill: #a4a4a4;
    -fx-font-family: "Madimi One";
    -fx-font-size: 20px;
    -fx-font-weight: bold;

}

.smalltext {
    -fx-text-fill: #a4a4a4;
    -fx-font-family: "Madimi One";
    -fx-font-size: 15px;
    -fx-font-weight: bold;

}


.header {
    -fx-font-family: "Madimi One";
    -fx-text-fill: #ea0e78;
    -fx-font-size : 60px;
    -fx-font-weight: normal;



}

.addNote {

    -fx-font-size: 50px;


}

.canvas {
    /*-fx-background-color: rgb(153, 255, 204, 0.5);*/
    -fx-background-color: rgb(44, 47, 51);


}

.drobdown{
    -fx-background-color: rgb(153, 255, 204);


}
.button,.text-field,.text-area{
    -fx-text-fill: #a4a4a4;
}
.button{
    -fx-cursor: hand;


}
.button:pressed {
    -fx-background-color: #ea0e78;;

}
.button:hover {
    /*-fx-background-color: rgba(0, 0, 0, 0.06);*/
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;

}
.scroll-pane{
    -fx-background-color:transparent;
    -fx-border-color: rgba(0, 0, 0, 0);;
}

.scroll-pane .viewport{
    -fx-background-color:transparent;

}
.note{
    /*-fx-background-color: rgba(220, 166, 27, 0.06);*/ /* 50% läpinäkyvä tausta */
    -fx-background-radius: 10px;
    /*-fx-background-color: rgba(0, 0, 0, 0.04)*/
    -fx-background-color: rgb(39, 41, 44);

}


.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-text-fill: rgba(234, 127, 48, 0.75);
}

.scroll-bar .thumb {
    -fx-text-fill: rgba(234, 127, 48, 0.75);
}

.scroll-bar .track {
    -fx-text-fill: rgba(234, 127, 48, 0.75);
}



.pink {
    -fx-text-fill: #ea0e78;
}

.notFound{
    -fx-opacity: 0.1;
}

.delete {
    -fx-text-fill: black;
    -fx-background-color: rgba(253, 18, 18, 0.65);
}

.selector {
}

.searchBox:hover{
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}