
.widget {
    -fx-background-radius: 10px;
    -fx-background-color: rgb(44, 47, 51);

}
.bigtext {
    -fx-text-fill: #a4a4a4;
    -fx-font-family: "Madimi One";
    -fx-font-size: 30px;
    -fx-font-weight: bold;

}

.normaltext {
    -fx-text-fill: #a4a4a4;
    -fx-font-family: "Madimi One";
    -fx-font-size: 20px;
    -fx-font-weight: bold;

}

.smalltext {
    -fx-text-fill: #a4a4a4;
    -fx-font-family: "Madimi One";
    -fx-font-size: 15px;
    -fx-font-weight: bold;

}.extrasmalltext {
     -fx-text-fill: #a4a4a4;
     -fx-font-family: "Madimi One";
     -fx-font-size: 10px;
        -fx-font-weight: normal;

 }


.header {
    -fx-font-family: "Madimi One";
    -fx-text-fill: #ea0e78;
    -fx-font-size : 60px;
    -fx-font-weight: normal;



}

.addNote {

    -fx-font-size: 50px;


}

.canvas {
    -fx-background-color: rgb(39, 41, 44);


}


.button,.text-field,.text-area{
    -fx-text-fill: #a4a4a4;
}
.button{
    -fx-cursor: hand;


}
.button:pressed {
    -fx-background-color: #ea0e78;;

}
.button:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;

}
.scroll-pane{
    -fx-background-color:transparent;
    -fx-border-color: rgba(0, 0, 0, 0);;
}

.scroll-pane .viewport{
    -fx-background-color:transparent;

}
.note{
    -fx-background-radius: 10px;
    -fx-background-color: rgb(44, 47, 51);

}


.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-text-fill: rgba(234, 127, 48, 0.75);
}

.scroll-bar .thumb {
    -fx-text-fill: rgba(234, 127, 48, 0.75);
}

.scroll-bar .track {
    -fx-text-fill: rgba(234, 127, 48, 0.75);
}



.pink {
    -fx-text-fill: #ea0e78;
}

.notFound{
    -fx-opacity: 0.1;
}

.delete {
    -fx-text-fill: black;
    -fx-background-color: rgba(253, 18, 18, 0.65);
}

.selector {
}

.searchBox:hover{
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}
.orange{
    -fx-text-fill: rgba(245, 109, 6);

}
.hidden {
    -fx-opacity: 0;
}
.black{
    -fx-text-fill: #212121;
}
.choice-box .label {
    -fx-text-fill: #a4a4a4;
}
.choice-box {
    -fx-mark-color: #a4a4a4;; /* Muuttaa dropdownin nuolen värin */
}